Repository lancer1977/Api.AI: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/PolyhydraGames.AI.WebApi.yml, .pipelines/PolyhydraGames.AI.yml

.pipelines/PolyhydraGames.AI.WebApi.yml:

# Variable 'NugetPat' was defined in the Variables tab
name: $(date:yyyyMMdd)$(rev:.r)
variables:
- group: Pat 
- name: BuildParameters.ImageName
  value: 'lancer1977/api-ai'
trigger:
  branches:
    include:
    - refs/heads/main
  paths:
    include:
    - WebApi

jobs:
- job: Job_1
  displayName: Agent job 1
  pool:
    name: Default
  steps:
  - checkout: self
    clean: true
    fetchTags: false
  - task: Bash@3
    inputs:
      targetType: 'inline'
      script: |
        sed -i "s|SECUREPAT|$(NUGETPAT)|" **/NuGet.Docker.Config
  - task: Docker@2
    inputs:
      containerRegistry: 'Docker IO'
      repository: '$(BuildParameters.ImageName)'
      command: 'build'
      Dockerfile: '**/Dockerfile'
      arguments: '--no-cache'
      tags: |
        dev
        $(Build.BuildId)
  - task: Docker@2
    inputs:
      containerRegistry: 'Docker IO'
      repository: '$(BuildParameters.ImageName)'
      command: 'Push'
      Dockerfile: '**/Dockerfile'
      tags: |
        dev
        $(Build.BuildId)
  - task: ado-discord-webhook@1
    inputs:
      channelId: '1083779130576879656'
      webhookKey: 'QAhq2PpBl9iUSv51rQNPajpVZivOdj-hMcClCwHBz7OFdyxuI9Ni_Ykvglpxw53oDX9D'
      name: 'Polyhydra Build'
      avatar: 'https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/277759422_459407522643032_5740191239763665615_n.png?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Eh7rt73EuYcAX-1w6EJ&_nc_ht=scontent-iad3-1.xx&oh=00_AfA8K4k2WtaqlaA0CEznY-Hk2DZY3gsdDwPp-XOw3L1B3Q&oe=64121C61'
      messageType: 'content'
      content: 'AI API Completed Build: $(Build.BuildNumber)'
  - task: CmdLine@2
    inputs:
      script: 'curl -X POST -H "Content-Type: application/json" http://192.168.0.21:9000/api/stacks/webhooks/358d7b2e-4948-41b0-8e61-d96a2791ce7c'

.pipelines/PolyhydraGames.AI.yml:

# Starter pipeline
name: 1.0.0.$(rev:r)
variables: 
- name: Project.Path
  value: '**/PolyhydraGames.AI.csproj'
- name: BuildConfiguration
  value: Release
trigger:
  branches:
    include:
    - refs/heads/main 
  paths:
    include:
    - Interfaces
jobs:
- job: Phase_1 
  cancelTimeoutInMinutes: 1
  pool:
    name: Default
  steps:
  - checkout: self

  - task: DotNetCoreCLI@2
    inputs:
      command: 'pack'
      packagesToPack: '$(Project.Path)' 
      versioningScheme: 'byBuildNumber'
      arguments: '-c $(BuildConfiguration)' 
  - task: DotNetCoreCLI@2
    inputs:
      command: 'push'
      packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
      nuGetFeedType: 'internal'
      publishVstsFeed: '015fc12f-cd63-4ab4-8d6a-dc889e53bf70'
  - task: ado-discord-webhook@1
    inputs:
      channelId: '1083779130576879656'
      webhookKey: 'QAhq2PpBl9iUSv51rQNPajpVZivOdj-hMcClCwHBz7OFdyxuI9Ni_Ykvglpxw53oDX9D'
      name: 'Polyhydra Build'
      avatar: 'https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/277759422_459407522643032_5740191239763665615_n.png?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Eh7rt73EuYcAX-1w6EJ&_nc_ht=scontent-iad3-1.xx&oh=00_AfA8K4k2WtaqlaA0CEznY-Hk2DZY3gsdDwPp-XOw3L1B3Q&oe=64121C61'
      messageType: 'content'
      content: 'API.AI Completed Build: $(Build.BuildNumber)'

ollama
  Interfaces/Models/AIResponse.cs
  Interfaces/Models/AiRequest.cs
  Interfaces/Models/AiResponseType.cs
  Ollama.Test/OllamaServiceTests.cs
Due: .pipelines/PolyhydraGames.AI.yml

types
  Interfaces/Models/AiResponseType.cs
  Ollama/Ollama/OllamaService.cs
  Ollama/Payloads/GeneratePayload.cs
  Ollama/Payloads/GeneratePayloadExtensions.cs
  WebApi/PolyhydraGames.AI.WebApi.csproj
Due: .pipelines/PolyhydraGames.AI.WebApi.yml, .pipelines/PolyhydraGames.AI.yml

git
  Interfaces/Models/AiRequest.cs
  Ollama/Ollama.csproj
  Rest/PolyhydraGames.AI.Rest.csproj
  WebApi/PolyhydraGames.AI.WebApi.csproj
Due: .pipelines/PolyhydraGames.AI.WebApi.yml, .pipelines/PolyhydraGames.AI.yml

ext
  Ollama/Payloads/GeneratePayloadExtensions.cs
Due: none

ollama
  Ollama/Ollama.csproj
  Rest/PolyhydraGames.AI.Rest.csproj
  WebApi/PolyhydraGames.AI.WebApi.csproj
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

model
  Interfaces/Models/AiResponseType.cs
  Ollama/Payloads/GeneratePayloadExtensions.cs
Due: .pipelines/PolyhydraGames.AI.yml

ollama
  Ollama/Ollama.csproj
  Ollama/Payloads/GeneratePayloadExtensions.cs
  Rest/PolyhydraGames.AI.Rest.csproj
  WebApi/PolyhydraGames.AI.WebApi.csproj
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

tweah
  Interfaces/Interfaces/IServerDefinition.cs
  Interfaces/Models/ServerDefinitionType.cs
  Ollama/IOllamaHostApi.cs
  Ollama/ServerDefinitionExtensions.cs
  WebApi/PolyhydraGames.AI.WebApi.csproj
Due: .pipelines/PolyhydraGames.AI.WebApi.yml, .pipelines/PolyhydraGames.AI.yml

ollama
  Ollama/Ollama.csproj
  Ollama/ServerDefinitionExtensions.cs
  Rest/PolyhydraGames.AI.Rest.csproj
  WebApi/PolyhydraGames.AI.WebApi.csproj
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

api
  Rest/AiService.cs
  WebApi/appsettings.json
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

namespace
  AI.sln
  Ollama.Test/OllamaServiceTests.cs
  Ollama/Host/OllamaHostApi.cs
  Ollama/Host/OllamaHostSiteConfig.cs
  Ollama/IOllamaConfig.cs
  Ollama/IOllamaHostApi.cs
  Ollama/IOllamaHostSiteConfig.cs
  Ollama/IOllamaService.cs
  Ollama/Models/AddMessageParams.cs
  Ollama/Models/AdvancedParameters.cs
  Ollama/Models/ChatMessage.cs
  Ollama/Models/Details.cs
  Ollama/Models/Format.cs
  Ollama/Models/Function.cs
  Ollama/Models/Location.cs
  Ollama/Models/Message.cs
  Ollama/Models/ModelDetail.cs
  Ollama/Models/ModelResponse.cs
  Ollama/Models/OllamaChatResponse.cs
  Ollama/Models/OllamaMessageParams.cs
  Ollama/Models/OllamaResponse.cs
  Ollama/Models/Parameters.cs
  Ollama/Models/Properties.cs
  Ollama/Models/Tool.cs
  Ollama/Ollama.csproj
  Ollama/Payloads/ChatPayload.cs
  Ollama/Payloads/GeneratePayload.cs
  Ollama/Payloads/GeneratePayloadExtensions.cs
  Ollama/ServerDefinitionExtensions.cs
  Ollama/Servers/OllamaConfig.cs
  Ollama/Servers/OllamaServer.cs
  Ollama/Servers/OllamaService.cs
  Rest/AiService.cs
  Rest/IOllamaConfig.cs
  Rest/OllamaConfig.cs
  Test/OllamaServiceTests.cs
  Test/PolyhydraGames.AI.Test.csproj
  Test/appsettings.json
  WebApi/Program.cs
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

flippy
  Interfaces/Interfaces/IServer.cs
  Rest/AiService.cs
  Rest/PolyhydraGames.AI.Rest.csproj
  Test/OllamaServiceTests.cs
  WebApi/Controller/AiController.cs
  WebApi/Controller/Help.cs
  WebApi/Controller/ServerController.cs
  WebApi/Help.cs
  WebApi/IServerSource.cs
  WebApi/Program.cs
  WebApi/ServerSource.cs
Due: .pipelines/PolyhydraGames.AI.WebApi.yml, .pipelines/PolyhydraGames.AI.yml

too much
  Rest/AiService.cs
  Rest/PolyhydraGames.AI.Rest.csproj
  Test/OllamaServiceTests.cs
  WebApi/IServerSource.cs
  WebApi/PolyhydraGames.AI.WebApi.csproj
  WebApi/ServerSource.cs
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

work
  WebApi/Help.cs
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

ollama
  Ollama/Ollama.csproj
  Test/BaseTest.cs
  Test/HttpService.cs
  Test/OllamaServiceTests.cs
Due: none

ollama
  Ollama/Servers/OllamaServer.cs
Due: none

webapi
  WebApi/PolyhydraGames.AI.WebApi.csproj
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

Service
  Rest/AiService.cs
  Rest/PolyhydraGames.AI.Rest.csproj
  Test/BaseTest.cs
  Test/Fixture.cs
  Test/HttpService.cs
  Test/OllamaServiceTests.cs
  Test/PolyhydraGames.AI.Test.csproj
Due: none

AI IS DEAD
  Ollama.Test/OllamaServiceTests.cs
  Ollama.Test/PolyhydraGames.3rdParty.AI.Test.csproj
  Ollama.Test/appsettings.json
  Ollama/Models/OllamaChatResponse.cs
  Ollama/Models/OllamaResponse.cs
  Ollama/Payloads/GeneratePayload.cs
  Ollama/Payloads/GeneratePayloadExtensions.cs
  Ollama/Servers/OllamaServer.cs
  Ollama/Servers/OllamaService.cs
Due: none

api
  WebApi/Help.cs
  WebApi/PolyhydraGames.AI.WebApi.csproj
  WebApi/ServerSource.cs
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

dto fix
  Interfaces/AiResponse.cs
  Interfaces/Models/AiResponseType.cs
Due: .pipelines/PolyhydraGames.AI.yml

nugets
  Ollama/Ollama.csproj
  Rest/PolyhydraGames.AI.Rest.csproj
Due: none

web
  WebApi/PolyhydraGames.AI.WebApi.csproj
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

rest
  .pipelines/PolyhydraGames.AI.Rest.yml
  AI.sln
  Rest/AiService.cs
  WebApi/Program.cs
  WebApi/appsettings.json
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

schmit
  Rest/AiService.cs
  Rest/IAIEndpoint.cs
  Rest/IOllamaConfig.cs
  Rest/OllamaConfig.cs
Due: none

api
  WebApi/Program.cs
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

server
  WebApi/ServerSource.cs
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

fixes
  WebApi/Controller/ServerController.cs
  WebApi/IServerSource.cs
  WebApi/ServerSource.cs
  WebApi/appsettings.json
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

timers
  WebApi/Controller/AiController.cs
  WebApi/Controller/ServerController.cs
  WebApi/GlobalUsings.cs
  WebApi/Help.cs
  WebApi/IServerSource.cs
  WebApi/ServerSource.cs
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

cofnig exposed
  WebApi/PolyhydraGames.AI.WebApi.csproj
  WebApi/ServerSource.cs
  WebApi/config/servers.Development.json
  WebApi/config/servers.json
Due: .pipelines/PolyhydraGames.AI.WebApi.yml

build
  .pipelines/PolyhydraGames.AI.WebApi.yml
Due: none

api
  WebApi/appsettings.json
Due: .pipelines/PolyhydraGames.AI.WebApi.yml
